*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-size:3rem;
}
h2{
  font-size:2rem;
  font-weight: 100;
}
body{
  height:100vh;
}
form{
  text-align: center;
  margin:0 auto;
  font-size: 3rem;
  width: 30%;
}
input{
  font-size: 2rem;
  width: 100%;
}
.element{
  padding: 2rem;
}
.element img{
  float: left;
  width:50%;
  height: auto;
  shape-outside: polygon(37px 9px, 157px 7px, 189px 131px, 7px 127px);

  margin-right: 2rem;
}
.element p{
  text-align: justify;
}
.landing{
  position: relative;
  height: 75vh;
  width: 100%;
  background-color: rgb(0,0,0);
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing:not(img), .landingText, h1, h2{
  position: relative;
  z-index: 100;
}

.landing h1, h2{
  color: white;
}

.landingText{
  width: 75vw;
}
.formSection{
  width: 100%;
  padding: 2rem;
}
.landing img{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: .6;
}
.weatherContainer{
  padding: 2vw;
}
.weatherContainer h1{
  text-align: center;
  margin-bottom: 2rem;
}
.weatherInfo{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weatherCards{
  border-radius: 10px;
  height:auto;
  width: 15vw;
  padding: .5rem;
  line-height: 150%;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200,200,200);
  margin:2rem;
}



/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  form{
    width: 50%;
    text-align: center;
    font-size: 2rem;
  }
  input{
    font-size: 1.5rem;
    margin: 10px 0 10px 0;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.2rem;
  }
  .landingText{
    width: 50vw;
    line-height: inherit;
  }
  .weatherContainer{
    padding:0
  }
  .weatherInfo{
    justify-content: space-around;
  }
  .weatherCards{
    font-size: 2.5rem;
    width:50%;
  }
 
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  form{
    width: 50%;
    text-align: center;
    font-size: 2rem;
  }
  input{
    font-size: 1.5rem;
    margin: 10px 0 10px 0;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.2rem;
  }
  .landingText{
    line-height: inherit;
  }
  .weatherContainer{
    padding:0
  }
  .weatherInfo{
    justify-content: space-around;
  }
  .weatherCards{
    font-size: 2rem;
    width:75%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/


@media (min-width: 481px) and (max-width: 767px) {
  form{
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
  }
  input{
    font-size: 1rem;
    margin: 1rem;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.2rem;
  }
  .landingText{
    line-height: inherit;
  }
  .weatherContainer{
    padding:0
  }
  .weatherInfo{
    justify-content: space-around;
  }
  .weatherCards{
    font-size: 1rem;
    width:75%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px){
  form{
    width: 75%;
    font-size: 1.5rem;
  }
  input{
    margin:.5rem;
    font-size: 1.5rem;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.2rem;
  }
  .landingText{
    line-height: inherit;
  }
  .weatherContainer{
    padding:0;
  }
  .weatherCards{
    width:90vw;
  }
}
